---
apiVersion: v1
kind: Service
metadata:
  name: devops-test
spec:
  type: ClusterIP
  ports:
    - name: http
      port: 80
      targetPort: 80
      protocol: TCP
  selector:
    app: devops-test
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: devops-test
spec:
  replicas: 1
  minReadySeconds: 5
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 1
  selector:
    matchLabels:
      app: devops-test
  template:
    metadata:
      labels:
        name: devops-test
        app: devops-test
    spec:
      containers:
        - name: devops-test
          image: "registry.cn-beijing.aliyuncs.com/36node/devops-backend-test:{{ devops_backend_test_version }}"
          env:
            - name: DEPLOY_TIME
              value: "{{ devops_backend_test_time }}"
            - name: PORT
              value: "80"
            - name: BASE
              value: "{{ base_path }}"
            - name: MONGODB_CONNECTION
              value: "{{ mongodb_connection }}"
          ports:
            - name: http
              containerPort: 80
          resources:
            limits:
              cpu: "1000m"
              memory: "1Gi"
            requests:
              cpu: "10m"
              memory: "32Mi"
